@import '~vars';
@import '~tao-scss/index';

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 1;

  a {
    color: white;
    margin: rem(15px);
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
  }

  .logo {
    background-image: url('assets/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    background-position: center;
  }
}

a.active {
  border-bottom: 1px solid white;
}
