@import '~vars';
@import '~tao-scss/index';

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;

  a {
    color: gray;
    margin: rem(15px);
    text-decoration: none;

    &:last-of-type {
      //margin-right: 0;
    }
  }

  .logo {
    background-image: url('assets/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
  }
}

a.active {
  color: $active-color;
}
