@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import '~vars';
@import '~tao-scss/index';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: transparent; // find out where white is coming from
  margin: 0;
}
